    	*{ margin: 0; padding: 0; }
    	img{vertical-align: top;}
    	ul{list-style: none;}
        .box{
        	margin: 100px auto;
        	width: 730px;
        	height: 454px;
        	border: 1px solid red;
        	position: relative;
        	overflow: hidden;
        }
        .imgli{
			width: 600%;
        	position: absolute;
        	left: 0;
        	top:0;
        }
        .imgli li{
        	float: left;
        }
        .dom{
        	position: absolute;
        	width: 170px;
        	height: 20px;
        	color: black;
        	bottom: 20px;
        	left:50%;
        	margin-left:-85px;
        	text-align: center;
        	line-height: 20px;
        }
        .dom li{
        	display: inline-block;
        	width: 22px;
			background-color: white;
			border-radius: 50%;
			cursor: pointer;
        }
        .dom .hover{
			background-color: red;
        }
